@import '../abstracts/_abstracts'

div.results
    @include center-flex
    width: 100%
    flex-wrap: wrap
    h1
        flex-basis: 100%
        text-align: center
    div.result-box
        @include center-flex
        flex-basis: 50%
        flex-wrap: wrap
        padding: 1rem
        text-align: center